.repricer-page {
  position: relative;
  height: 100vh;
  padding-top: 50px;

  &__content {
    padding: 0 16px;
  }

  &__title {
    font-family: Mulish;
    font-weight: 700;
    font-size: 22px;
    line-height: 135%;
    letter-spacing: 0;
    color: #000;
  }
}
